* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}
.background {
  object-position: center;
  height: 320px;
  width: 433px;
}

.battleNumber {
  font-size: 2.5rem;
  color: black;
  position: absolute;
  top: 1.5rem;
  left: 9rem;
}

.battleMonster {
  font-size: 2rem;
  color: black;
  position: absolute;
  top: 4rem;
  left: 8.5rem;
}

.enemy {
  display: block;
  height: 8rem;
  width: 6rem;
  position: absolute;
  top: 7rem;
  left: 11rem;
  opacity: 100;
  cursor: grabbing;
}

.healthBarBackground {
  display: block;
  position: absolute;
  top: 16rem;
  left: 10rem;
  width: 7rem;
  background-color: grey;
}

.healthBar {
  width: 100%;
  height: 10px;
  background-color: red;
}

.atkBarBackground {
  display: block;
  position: absolute;
  top: 14rem;
  left: 10rem;
  width: 1rem;
  height: 1rem;
  background-color: grey;
  transform: scaleY(-1);
}

.atkBar {
  height: 100%;
  background-color: yellow;
}

.expBarBackground {
  display: block;
  position: absolute;
  top: 20rem;
  left: 1rem;
  width: 25rem;
  background-color: grey;
}

.expBar {
  width: 0%;
  height: 10px;
  background-color: rgb(6, 226, 6);
}

.playerHealthBarBackground {
  display: block;
  position: absolute;
  top: 14.5rem;
  left: 25rem;
  width: 0.5rem;
  height: 5rem;
  transform: scaleY(-1);
  background-color: grey;
}

.playerHealthBar {
  height: 100%;
  background-color: red;
}

.manaBarBackground {
  display: block;
  position: absolute;
  top: 14.5rem;
  left: 25.6rem;
  width: 0.5rem;
  height: 5rem;
  transform: scaleY(-1);
  background-color: grey;
}

.manaBar {
  height: 100%;
  background-color: blue;
}

.skill {
  position: absolute;
  top: 5rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.skillBackground {
  display: block;
  position: absolute;
  top: 5rem;
  left: 1rem;
  width: 1.46rem;
  height: 1.46rem;
  transform: scaleY(-1);
  background-color: ;
}

.skillBar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.635);
}

.teleport {
  position: absolute;
  top: 17.5rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.gold {
  position: absolute;
  top: 2rem;
  left: 0.5rem;
}

.lvl {
  position: absolute;
  font-size: 0.8rem;
  top: 19.86rem;
  left: 12rem;
}

.potions {
  position: absolute;
  text-align: center;
  top: 1.5rem;
  left: 21rem;
}

.hpPotionCounter {
  position: absolute;
  top: 2.7rem;
  left: 3.7rem;
}

.manaPotionCounter {
  position: absolute;
  top: 7rem;
  left: 3.7rem;
}

.healthPotion {
  position: absolute;
  top: 0rem;
  left: 2rem;
  cursor: pointer;
}

.manaPotion {
  position: absolute;
  top: 4.1rem;
  left: 2rem;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
